name: "Validate"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: "Helidon Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build and test application distributions
        run: ./gradlew build jibBuildTar

